* {
    margin: 0 auto;
    display: border-box;
}
header {
    position: relative;
    transition: 0.5s;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.header__allin {
    position: relative;
    transition: 0.5s;
    display: flex;
    width: 1920px;
    height: 94px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    margin: 0 auto;
}
h1 {
    opacity: 0%;
    width: 1px;
    height: 1px;
}
.section-header {
    position: absolute;
    width: 59px;
    height: 42px;
    top: 15px;
    padding-left: 151px;
}
.section-header .section-header__zoo a {
    position: relative;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 42px;
    width: 60px;
    height: 42px;
}
.baarger {
    position: absolute;
    visibility: hidden;
    left: 1818px;
    top: 35px;
    width: 40px;
    height: 21px;
    background-image: url(./img/menu.png);
}
.section-header .section-header__online a {
    position: relative;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.8px;
    bottom: 8px;
}


.section-navigation {
    display: flex;
    top: 45px;
    position: absolute;
    justify-content: center;
    left: 635px;
}
.section-navigation__text {
    position: relative;
    margin: 0 41.5px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.section-navigation .active {
    text-decoration: underline;
    font-weight: 900;
    cursor: none;
    user-select: none;
    pointer-events: none;
}
a {
    transition: 0.5s;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.section_theme {
    position: absolute;
    width: 54px;
    height: 30px;
    left: 1720px;
    margin: 32px 0px;
}
.section_theme__background {
    transition: 0.5s;
    position: absolute;
    width: 54px;
    height: 30px;
    background: #F2F2F2;
    border-radius: 190px;
}
.section_theme__circle {
    transition: 0.5s;
    position: absolute;
    top: 4px;
    left: 5px;
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 50%;
}
.active__theme {
    transition: 0.5s;
    background: #4F4F4F;
}
.active__circle {
    transition: 0.5s;
    background: #1B1B1B;
    box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
    left: 25px;
}
.active-night {
    transition: 0.5s;
    background-color: #333333;
    color: white;
}
.dark__dark {
    transition: 0.5s;
    color: white;
}
.watch-animal {
    background-image: url(./img/mainImg.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.watch-animal__container {
    position: relative;
    background-size: cover;
    width: 1920px;
    height: 940px;
    overflow: hidden;
}
.watch-animal__container__allin {
    padding: 0px 151px;
    margin: 0 auto;
}
.watch-animal__text {
    position: absolute;
    left: 360px;
    top: 205px;
    width: 793px;
    height: 208px;
    font-family: Roboto, sans-serif;
    font-style: black;
    font-weight: 900;
    font-size: 89px;
    line-height: 104px;
    /* line-height: 100%; */
    color: #FEFEFE;
}
.watch-animal__button {
    position: absolute;
    left: 360px;
    top: 450px;
    width: 245px;
    height: 60px;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.watch-animal__button_circle {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 12px;
    left: 25px;
    border: 1px solid white;
    border-radius: 50%;
}
.watch-animal__button_triangle {
    position: absolute;
    left: 38px;
    bottom: 23px;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid white;
}
.watch-animal__button_text {
    position: relative;
    left: 10px;
    font-family: Roboto, sans-serif;
    font-style: black;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: white;
    text-transform: uppercase;
}
.watch-animal__button:hover {
    box-shadow: 0px 0.5px 0px 5px rgba(99, 255, 242, 0.574),
    0px 1px 0px 10px rgba(99, 255, 242, 0.374),
    0px 1.5px 0px 15px rgba(99, 255, 242, 0.133);
}
.watch-animal__social {
    position: absolute;
    top: 712px;
}
.social_inside {
    margin: 10px 0px;
}
.social__a {
    position: absolute;
    left: 0px;
    width: 20px;
    height: 20px;
}
.watch-carousel {
    position: relative;
}
.simple__line {
    position: absolute;
    z-index: 1;
}
.slider1 {
    display: flex;
    position: absolute;
    width: 985px;
    height: 352px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 420px;
    left: 823px;
    gap: 45px;
    overflow: hidden;
}
.slider1__idiot {
    position: relative;
    left: 262px;
    display: flex;
    width: 1500px;
    gap: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 0;
}
.line {
    position: absolute;
    opacity: 0.8;
    width: 1083px;
    height: 1px;
    background-color: white;
    top: 595px;
    left: 705px;
}
.line__circle {
    position: relative;
    right: 540px;
    bottom: 7px;
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
}
.line__circle1 {
    position: relative;
    right: 360px;
    bottom: 24px;
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
}
.line__circle2 {
    position: relative;
    right: -290px;
    bottom: 41px;
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
}
.line__circle3 {
    position: relative;
    right: -106px;
    bottom: 58px;
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
}
.line__circle4 {
    position: relative;
    right: -471px;
    bottom: 75px;
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
}
.line__circle_inside {
    position: relative;
    top: 4px;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: white;
}
.slider1-item_eagle {
    background-image: url(./img/1.jpeg);
    background-size: cover;
    background-position-x: center;
    width: 140px;
    height: 203px;
    cursor: pointer;
}
.slider1-item_panda {
    position: relative;
    background-image: url(./img/2.jpeg);
    background-size: cover;
    background-position-x: center;
    width: 140px;
    height: 203px;
    cursor: pointer;
}
.slider1-item_gibon {
    background-image: url(./img/3.jpeg);
    background-size: cover;
    background-position-x: center;
    width: 140px;
    height: 203px;
    cursor: pointer;
}
.slider1-item_croc {
    background-image: url(./img/4.jpeg);
    background-size: cover;
    background-position-x: center;
    width: 140px;
    height: 203px;
    cursor: pointer;
}
.slider1-item_fox {
    background-image: url(./img/5.jpeg);
    background-size: cover;
    background-position-x: center;
    width: 140px;
    height: 203px;
    cursor: pointer;
}
.inside_slide_2 {
    display: none;
    position: absolute;
    width: 245px;
    height: 352px;
}
.inside_slide_text {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
    width: 194px;
    height: 48px;
    margin-top: 232px;
}
.inside_slide_watch {
    color: rgba(37, 248, 255, 0.932);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    font-family: Roboto;
    width: 113px;
    height: 24px;
    cursor: pointer;
}
.kek {
    display: flex;
    margin-top: 14px;
}
.inside_slide_watch_circle {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(37, 248, 255, 0.932);
    border-radius: 50%;
}
.inside_slide_watch_text {
    position: absolute;
    bottom: 38px;
    left: 55px;
}
.inside_slide_watch_triangle {
    position: absolute;
    bottom: 41px;
    left: 33px;
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid rgba(37, 248, 255, 0.932);
}
.inside_slide_watch:hover {
    opacity: 0.7;
}
.inside_slide_donate_circle {
    position: relative;
    right: 40px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(255, 255, 255, 0.932);
    border-radius: 50%;
}
.inside_slide_donate_bax {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
    color: white;
    right: 22px;
    bottom: 25px;
}
.inside_slide_donate_text {
    position: relative;
    bottom: 42px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-family: Roboto;
    color: white;
    text-transform: uppercase;
}
.inside_slide_donate {
    cursor: pointer;
}
.inside_slide_donate:hover {
    opacity: 0.7;
}












.slider1__input_range {
    -webkit-appearance: none;
    width: 245px;
    height: 5px;
    outline: none;
    background-color: #BDBDBD;
}
.slider1__input_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 10px;
    background-color: white;
    cursor: pointer;
    opacity: 100%;
}
.slider1__input {
    z-index: 1000;
    position: absolute;
    top: 810px;
    left: 1015px;
    color: white;
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
}
.slider1__input_number1 {
    position: absolute;
    bottom: 20px;
    left: 100px;
    font-size: 24px;
}
.slider1__input_number2 {
    position: absolute;
    bottom: 22px;
    left: 137px;
    color: gray;
    font-size: 14px;
}

.how-works__container1 {
    transition: 0.5s;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.how-works__allin1 {
    width: 1920px;
    height: 864px;
    margin: 0 auto;
}
.how-works__container2 {
    transition: 0.5s;
    background-color: #f2f2f2;
    
}
.how-works__allin2 {
    width: 1920px;
    height: 432px;
    display: flex;
    margin: 0 auto;
}
.how-works__container1_header {
    width: 790px;
    height: 56px;
    padding-top: 100px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
}
/* dayn */
.idiot-class {
    position: relative;
    width: 2464px;
    height: 399px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 278px 278px 278px 278px 278px 278px 278px 278px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
}
/* dayn */
.how-works__container1_text {
    width: 790px;
    height: 80px;
    margin-top: 30px;
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.how-works__slider {
    margin-top: 30px;
    width: 790px;
    height: 323px;
    overflow: hidden;
}
.how-works__slider_item {
    position: relative;
    height: 323px;
    width: 10000px;
    margin: 0 0;
    display: grid;
    gap: 5px;
    left: 0px;
    grid-template-columns: 790px 790px 790px 790px;
}
.how-works__slider_item1 {
    width: 790px;
    height: 323px;
    background-image: url(./img/410856d0235232876b1f4b75014339bd.jpeg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 70%;
}
/* second slider!!!!!!!second slider!!!!!!!second slider!!!!!!!second slider!!!!!!!second slider!!!!!!!second slider!!!!!!! */
.how-works__slider_input {
    position: relative;
    left: 15px;
    bottom: 10px;
    margin-top: 29px;
    width: 245px;
    height: 49px;
}
.how-works__slider_number1 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    left: 85px;
    line-height: 28px;
    font-size: 24px;
    top: 10px;
    /* color: black; */
}
.how-works__slider_inside {
    position: relative;
    right: 15px;
}
.how-works__slider_number2 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 16px;
    bottom: 8px;
    left: 120px;
    font-size: 14px;
    color: #BDBDBD;
}
.how-works__slider_inside {
    -webkit-appearance: none;
    width: 245px;
    height: 5px;
    outline: none;
    background-color: #BDBDBD;
}
.how-works__slider_inside::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 62px;
    height: 10px;
    background-color: black;
    cursor: pointer;
    opacity: 100%;
}
.how-works__button {
    position: relative;
    left: 20px;
    width: 245px;
    height: 55px;
    margin: 0 822px;
    margin-top: 30px;
    text-transform: uppercase;
    border: none;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);

    cursor: pointer;
}
.how-works__button:hover {
    box-shadow: 0px 0.5px 0px 5px rgba(99, 255, 242, 0.574),
    0px 1px 0px 10px rgba(99, 255, 242, 0.374),
    0px 1.5px 0px 15px rgba(99, 255, 242, 0.133);
}
.how-works__button_text {
    position: absolute;
    left: 75px;
    top: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 21px;
    color: white;
    font-size: 18px;
}
.how-works__button_circle {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 10px;
    left: 25px;
    border: 1px solid white;
    border-radius: 50%;
}
.how-works__button_triangle {
    position: absolute;
    left: 38px;
    bottom: 20px;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid white;
}

.how-works__inspire {
    position: relative;
    left: 200px;
    margin-top: 100px;
    width: 380px;
    height: 213px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.how-works__mission {
    position: relative;
    top: 14px;
    margin-top: 100px;
    width: 380px;
    height: 165px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.how-works__believe {
    position: relative;
    right: 230px;
    top: 15px;
    margin-top: 100px;
    width: 380px;
    height: 181px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.how-works__inspire_header {
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 23px;
    font-size: 20px;
}
.how-works__inspire_text {
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 16px;
    font-size: 14px;
}
.zoo-pets {
    transition: 0.5s;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.zoo-pets__allin {
    width: 1920px;
    height: 854px;
    margin: 0 auto;
}
.zoo-pets__header {
    position: relative;
    width: 790px;
    height: 56px;
    padding-top: 100px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 56px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zoo-pets__slider {
    padding-top: 35px;
    width: 1230px;
    height: 400px;
    display: grid;
    grid-template-columns: 278px 278px 278px 278px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
}
.zoo-pets__slider-img1 {
    background-image: url(./img/1.jpeg);
    background-size: cover;
    background-position-x: center;
}
.inside_slide {
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
}
.inside_slide:hover {
    background-color: black;
    opacity: 0.2;
}
.inside_slide_block:hover {
    position: relative;
    transition: 2s ease-in;
    bottom: 0px;
}
.inside_slide_block {
    z-index: 0;
    position: relative;
    transition: 1s;
    opacity: 1;
    left: 30px;
    bottom: 0px;
}
.inside_slide_block_text {
    position: relative;
    right: 50px;
    width: 194px;
    height: 48px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 16px;
    color: white;
    font-size: 14px;
}
.inside_slide_block_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 14px;
}
.inside_slide:hover + .inside_slide_block  {
    bottom: 120px;
    transition: 1s;
}
/* .inside_slide_block:hover + .inside_slide {
    background-color: black;
    opacity: 0.2;
} */
.inside_slide_block:hover {
    bottom: 120px;
    transition: 1s;
}
.cover__pls {
    z-index: -1;
    height: 399px;
    position: relative;
    bottom: 485px;
}
.inside_slide_block:hover + .cover__pls {
    background-color: black;
    opacity: 0.2;
}
.first_watch_btn {
    display: flex;
    position: relative;
    right: 20px;
    width: 120px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.first_watch_btn_circle {
    width: 24px;
    height: 24px;
    border: 1px solid #4BD8B5;
    border-radius: 50%;
}
.first_watch_btn_triangle {
    position: relative;
    top: 8px;
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #4BD8B5;
}
.first_watch_btn_text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 14px;
    color: #4BD8B5;
    font-size: 12px;
    position: relative;
    top: 6px;
}
.first_donate_btn {
    display: flex;
    position: relative;
    right: 50px;
    width: 75px;
    height: 24px;
    cursor: pointer;
}
.first_donate_btn_circle {
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.first_donate_btn_triangle {
    position: relative;
    top: 2px;
    left: 7px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 21px;
    color: white;
    font-size: 18px;
}
.first_donate_btn_text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 14px;
    color: #ffffff;
    font-size: 12px; 
    position: relative;
    left: 3px;
    top: 6px;
}











.zoo-pets__slider-img2 {
    background-image: url(./img/2.jpeg);
    background-size: cover;
    background-position-x: center;
}
.zoo-pets__slider-img3 {
    background-image: url(./img/3.jpeg);
    background-size: cover;
    background-position-x: center;
}
.zoo-pets__slider-img4 {
    background-image: url(./img/4.jpeg);
    background-size: cover;
    background-position-x: center;
}
.for_all_img {
    width: 278px;
    height: 399px;
    background-color: azure;
    z-index: 100;
}
.zoo-pets__slider-button1 {
    position: relative;
    right: 630px;
    bottom: 210px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.zoo-pets__slider-button2 {
    position: relative;
    left: 640px;
    bottom: 240px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.zoo-pets__input {
    position: relative;
    bottom: 40px;
    width: 245px;
    height: 49px;
}
.zoo-pets__number1 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    left: 85px;
    line-height: 28px;
    font-size: 24px;
    top: 10px;
}
.zoo-pets_inside {
    position: relative;
    right: 15px;
}
.zoo-pets__number2 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 16px;
    bottom: 8px;
    left: 120px;
    font-size: 14px;
    color: #BDBDBD;
}

.zoo-pets__inside {
    -webkit-appearance: none;
    width: 245px;
    height: 5px;
    outline: none;
    background-color: #BDBDBD;
}
.zoo-pets__inside::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 10px;
    background-color: black;
    cursor: pointer;
    opacity: 100%;
}
.zoo-pets__choose-container {
    width: 245px;
    height: 55px;
    padding-top: 0px;
}
.zoo-pets__choose {
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border: none;
    outline: none;
    cursor: pointer;
}
.zoo-pets__choose-text {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 21px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}
/* Pay section */
.pay-section {
    transition: 0.5s;
    background-color: #f2f2f2;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.pay-section__allin {
    width: 1920px;
    height: 754px;
    margin: 0 auto;
}
.pay-section__header {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 56px;
    font-size: 48px;
    width: 790px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.pay-section__text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    width: 790px;
    height: 16px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pay-section__images {
    width: 1201px;
    height: 245px;
    padding-top: 92px;
    display: flex;
}
.pay-section__images-circle {
    width: 245px;
    height: 245px;
    border-radius: 50%;
    border: 1px solid #49D6DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pay-feed_text {
    position: relative;
    bottom: 20px;
    margin-top: 40px;
    width: 136px;
    height: 46px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 23px;
    font-size: 20px;
}
.pay-section__images-arrow {
    position: relative;
    padding-top: 110px;
}
.pay-section__button {
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border: none;
    outline: none;
    cursor: pointer;
}
.pay-section__button-text {
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 21px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
}
/* Testimonials section */
.testimonials-section {
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.testimonials-section__allin {
    width: 1920px;
    height: 810px;
    margin: 0 auto;
}
.testimonials-section__header {
    width: 790px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 56px;
    font-size: 48px;
    padding-top: 100px;
}
.testimonials-section__slider {
    width: 1250px;
    height: 349px;
    padding-top: 50px;
    gap: 20px;
    overflow: hidden;
}
.super-idiot {
    position: relative;
    width: 5625px;
    height: 349px;
    display: flex;
    gap: 20px;
}
.testimonials-section__slider-item1 {
    width: 585px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.2);
}
.testimonials-section__slider-item2 {
    width: 585px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.2);
}
.who_are-you {
    position: relative;
    bottom: 60px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: solid 1px gray;
    justify-content: center;
    align-items: center;
}
.who_are-you img {
    position: relative;
    left: 10px;
    top: 10px;
}
.who_are-you_user {
    position: relative;
    bottom: 60px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: solid 1px gray;
    justify-content: center;
    align-items: center;
}
.who_are-you_header {
    position: relative;
    bottom: 45px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 23px;
    font-size: 20px;
}
.who_are-you_text {
    position: relative;
    bottom: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    width: 440px;
    height: 32px;
}
.testimonials-section__slider-button1 {
    position: relative;
    right: 640px;
    width: 30px;
    height: 30px;
    bottom: 220px;
    cursor: pointer;
}
.testimonials-section__slider-button2 {
    position: relative;
    left: 655px;
    width: 30px;
    height: 30px;
    bottom: 245px;
    cursor: pointer;
}
.testimonials-section__slider-input {
    width: 245px;
    height: 49px;
    position: relative;
    bottom: 50px;
    left: 15px;
}
.testimonials-section__number1 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    left: 85px;
    line-height: 28px;
    font-size: 24px;
    top: 10px;
}
.testimonials-section__number2 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 16px;
    font-size: 14px;
    bottom: 8px;
    left: 120px;
    color: #BDBDBD;
}
.testimonials-section__slider-input_range {
    position: relative;
    right: 15px;
    -webkit-appearance: none;
    width: 245px;
    height: 5px;
    outline: none;
    background-color: #BDBDBD;
}
.testimonials-section__slider-input_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 32px;
    height: 10px;
    background-color: black;
    cursor: pointer;
    opacity: 100%;
}
.testimonials-section__feedback {
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.testimonials-section__feedback-text {
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 21px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
}
.rotate {
    transform: rotate(180deg);
}
/* map */
.section-map {
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.2);
    background-color: #f2f2f2;
}
.section-map__allin {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 904px;
    margin: 0 auto;
}
.section-map__header {
    width: 790px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 56px;
    font-size: 48px;
    padding-top: 100px;
}
.section-map__planet {
    width: 1200px;
    height: 498px;
    margin-top: 50px;
    background-image: url(./img/map.png);
}
.section-map__button {
    width: 245px;
    height: 55px;
    text-transform: uppercase;
    border: none;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    cursor: pointer;
    margin-top: 43px;
    outline: none;
}
.section-map__button_text {
    position: relative;
    bottom: 30px;
    left: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 21px;
    color: white;
    font-size: 18px;
}
.section-map__button_circle {
    position: relative;
    right: 70px;
    top: 8px;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
}
.section-map__button_triangle {
    position: relative;
    right: 68px;
    bottom: 15px;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid white;
}
.section-map__planet_img1 {
    position: relative;
    width: 60px;
    height: 90px;
    right: 425px;
    top: 88px;
}
.section-map__planet_img2 {
    position: relative;
    width: 60px;
    height: 90px;
    right: 323px;
    bottom: 130px;
}
.section-map__planet_img3 {
    position: relative;
    bottom: 290px;
    width: 60px;
    height: 90px;
}
.section-map__planet_img4 {
    position: relative;
    bottom: 620px;
    left: 320px;
    width: 60px;
    height: 90px;
}
.planet__img {
    z-index: 0;
}
.section-map__planet_img1:hover {
    filter: brightness(0.5);
    transition: 0.3s;
}
.section-map__planet_img2:hover {
    filter: brightness(0.5);
    transition: 0.3s;
}
.section-map__planet_img3:hover {
    filter: brightness(0.5);
    transition: 0.3s;
}
.section-map__planet_img4:hover {
    filter: brightness(0.5);
    transition: 0.3s;
}
.planet__img_panda {
    z-index: 1000;
    position: absolute;
    width: 43px;
    height: 43px;
    top:10px;
    left: 12px;
    background-color: brown;
    background-image: url(./img/1.jpeg);
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
}
.planet__img_croc {
    position: absolute;
    top:10px;
    left: 12px;
    width: 43px;
    height: 43px;
    background-color: brown;
    background-image: url(./img/4.jpeg);
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
}
.planet__img_gibon {
    position: absolute;
    top:10px;
    left: 12px;
    width: 43px;
    height: 43px;
    background-color: brown;
    background-image: url(./img/3.jpeg);
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
}
.planet__img_fox {
    position: absolute;
    border-radius: 50%;
    top:10px;
    left: 12px;
    width: 43px;
    height: 43px;
    background-color: brown;
    background-image: url(./img/2.jpeg);
    background-size: cover;
    background-position-x: center;
}
footer {
    background-color: #333333;
}
.footer-container {
    width: 1920px;
    height: 751px;
}
.footer-container__allin {
    margin-left: 151px;
    margin-right: 151px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin: 0 auto;
}
.footer-container1 {
    display: flex;
    gap: 30px;
}
.footer-container1__left {
    width: 800px;
    height: 500px;
}
.footer-container1__right {
    width: 800px;
    height: 500px;
}
.section-footer__zoo a {
    position: relative;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: white;
}
.section-footer__online a {
    position: relative;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.15em;
    bottom: 8px;
    color: white;
}
.section-footer__us {
    position: relative;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: white;
    padding-top: 50px;
}
.section-footer__input1 input {
    margin-top: 33px;
    background-color: #333333;
    border: none;
    width: 383px;
    height: 26px;
    color: #e0e0e0;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
}
.section-footer__input2 input {
    margin-top: 22px;
    background-color: #333333;
    border: none;
    width: 383px;
    height: 26px;
    color: #e0e0e0;
    border-bottom: 1px solid #bdbdbd;
    outline: none;

}
.section-footer__input1 input::placeholder {
    color: #e0e0e0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.section-footer__input2 input::placeholder {
    color: #e0e0e0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.footer_contact__textArea {
    width: 83%;
    position: relative;
    margin-top: 5px;
    right: 70px;
} 
.footer_contact__textArea textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55%;
    border: 1px solid #BDBDBD;
    background-color: #333333;
    border-radius: 5px;
    resize: none;
    color: #E0E0E0;
    padding: 10px;
    padding-top: 15px;
    outline: none;

} 
.footer_contact__textArea textarea::placeholder {
    color: #E0E0E0;
}
.footer_contact__textArea p {
    text-align: center;
    max-width: 165px;
    position: absolute;
    top: 8px;
    left: 10px;
    background-color: #333333;
    padding: 5px 5px;
    color: #BDBDBD;
    font-size: 12px;
}
.footer_section__checkBox {
    position: relative;
    display: flex;
    align-items: center;
}
  
.footer_section__checkBox input {
    appearance: none;
    position: absolute;
}
  
.footer_section__label {
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 1px;
    color: #BDBDBD;
}
  
.footer_section__label::before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background-color: #333333;
    border: 1px solid #BDBDBD;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s;
}
  
.footer_section__label::after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background-color: #BDBDBD;
    border-radius: 1px;
    z-index: 2;
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0;
    transition: .3s;
}
  
.footer_section__checkBox input:checked+.footer_section__label::after {
    opacity: 1;
}
label {
    position: relative;
    right: 280px;
}
.footer-section_btn {
    position: relative;
    right: 80px;
    margin-top: 25px;
    width: 108px;
    height: 16px;
    display: flex;
    border: none;
    background-color: #333333;
    outline: none;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    opacity: 0.8;
}
input#image__submit{
    background: url('./img/Arrow\ 4.png') no-repeat right center;
    padding-right: 110px;
}
.section-footer__whole {
    display: flex;
    margin-top: 20px;
}
.section-footer__nav {
    position: absolute;
    display: flex;
    gap: 73px;
}
.section-footer__btn {
    position: relative;
    left: 260px;
    bottom: 20px;
    width: 279px;
    height: 55px;
    outline: none;
    cursor: pointer;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border: none;
}
.section-footer__nav_a a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fefefe;
}
.section-footer__btn_text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #fefefe;
}
.footer_zoo__online {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
    margin-bottom: 35px;
    margin-top: 40px;
    text-transform: uppercase;
}
.footer_zoo__adress {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}
.footer_zoo__open {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
    margin-bottom: 20px;
}
.footer_zoo__cellphone {
    display: grid;
    grid-template-columns: 10px 100px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}
.footer_zoo__email {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fefefe;
}
.footer__social {
    position: relative;
    right: 14px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
}
.footer-container2 {
    width: 1620px;
    height: 100px;
    margin-top: 20px;
    border-top: 1px solid #fefefe;
    opacity: 0.8;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
}
.noora {
    padding-top: 25px;
}
.rsschool {
    padding-top: 5px;
}
/* CARDS MTF */

.card__map1 {
    opacity: 0;
    z-index: 3;
    display: flex;
    position: relative;
    right: 670px;
    top: 80px;
    width: 436px;
    height: 149px;
    background-color: #fefefe;
    box-shadow: 0px 4px 8px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
}
.card__map2 {
    opacity: 0;
    z-index: 3;
    display: flex;
    position: relative;
    bottom: 330px;
    right: 60px;
    width: 436px;
    height: 149px;
    background-color: #fefefe;
    box-shadow: 0px 4px 8px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
}
.card__map3 {
    opacity: 0;
    z-index: 3;
    display: flex;
    position: relative;
    bottom: 280px;
    width: 436px;
    height: 149px;
    background-color: #fefefe;
    box-shadow: 0px 4px 8px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
}
.card__map4 {
    opacity: 0;
    z-index: 3;
    display: flex;
    position: relative;
    bottom: 610px;
    left: 490px;
    width: 436px;
    height: 149px;
    background-color: #fefefe;
    box-shadow: 0px 4px 8px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
}
.card__map1-img {
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    width: 65px;
    height: 65px;
    position: absolute;
    margin-top: 40px;
    margin-left: 44px;
}
.card__map1-img_1 {
    background-image: url(./img/1.jpeg);
}
.card__map1-img_2 {
    background-image: url(./img/4.jpeg);
}
.card__map1-img_3 {
    background-image: url(./img/3.jpeg);
}
.card__map1-img_4 {
    background-image: url(./img/2.jpeg);
}
.card__map1-text_header {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
}
span {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.card__map1-text_region {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card__map1-text_population {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.card__map1-text {
    position: relative;
    top: 44px;
    left: 30px;
}
address a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
}
.lol1 {
    position: absolute;
    left: 20px;
}
.lol2 {
    position: absolute;
    left: 70px;
}
.lol3 {
    position: absolute;
    left: 115px;
}
.lol4 {
    position: absolute;
    left: 165px;
}

@media (max-width: 1940px) {
    header {
        width: 1940px;
    }
    .watch-animal {
        width: 1940px;
    }
    .how-works {
        width: 1940px;
    }
    .zoo-pets {
        width: 1940px;
    }
    .pay-section {
        width: 1940px;
    }
    .testimonials-section {
        width: 1940px;
    }
    .section-map {
        width: 1940px;
    }
    footer {
        width: 1940px;
    }
}


































.slight__dark {
    transition: 0.5s;
    background-color: #4f4f4f;
    color: white;
}
.super__dark {
    transition: 0.5s;
    background-color: #333333;
    color: white;
}
.map__black {
    background-image: url(./img/mapBlack.png);
    background-repeat: no-repeat;
}
/* .planet__img:hover{
    transition: 0.3s;
    filter: invert(100%);
} */
.section-map__planet_img1:hover + .card__map1 {
    transition: 0.5s;
    opacity: 1;
}
.section-map__planet_img2:hover + .card__map2 {
    transition: 0.5s;
    opacity: 1;
}
.section-map__planet_img3:hover + .card__map3 {
    transition: 0.5s;
    opacity: 1;
}
.section-map__planet_img4:hover + .card__map4 {
    transition: 0.5s;
    opacity: 1;
}
.active-panda_or__not {
    width: 245px;
    height: 352px;
}
.display_active {
    display: initial;
}