@media (max-width: 640px) {
    .headet__main {
        width: 640px;
        position: fixed;
        z-index: 1001
    }
    .header__allin {
        width: 640px;
    }
    .headet__main__allin {
        width: 640px;
    }
    .section-header {
        padding-left: 22px;
    }
    .section-navigation {
        display: none;
    }
    .section_theme {
        left: 492px;
    }
    .baarger {
        visibility: visible;
        left: 580px;
        top: 37px;
    }
    /* header */
    .online__section {
        width: 640px;
        height: 982px;
        padding-top: 94px;
    }
    .online__section_container {
        grid-template-columns: 103px 537px;
        width: 640px;
    }
    .map__section-carousel {
        position: sticky;
        top: 94px;
        width: 103px;
        height: 113px;
    }
    .scroll__carousel {
        width: 103px;
    }
    .item1 {
        width: 70px;
        height: 70px;
        margin-bottom: 6px;
    }
    .item1 img {
        width: 70px;
        height: 70px;
    }
    .item2 {
        width: 70px;
        height: 70px;
    }
    .item2 img {
        width: 70px;
        height: 70px;
    }
    .item3 {
        width: 70px;
        height: 70px;
    }
    .item3 img {
        width: 70px;
        height: 70px;
    }
    .item4 {
        width: 70px;
        height: 70px;
    }
    .item4 img {
        width: 70px;
        height: 70px;
    }
    .arrw_slid1 {
        bottom: 38px;
    }
    .arrw_slid2 {
        top: 6px;
    }
    .watch__section {
        width: 538px;
        height: 700px;
    }
    .watch__section1-header {
        width: 361px;
        right: 62px;
    }
    .watch__section1-frame {
        width: 497px;
        height: 280px;
        right: -20px;
        bottom: 5px;
    }
    .watch__section1-frame iframe {
        width: 497px;
        height: 280px;
    }
    .watch__section1-slider {
        grid-template-columns: 155px 155px 155px;
        gap: 16px;
        right: 9px;
        bottom: 19px;
        width: 481px;
    }
    .watch__section1-slider .number1 {
        width: 155px;
        height: 89px;
    }
    .number1 iframe {
        width: 155px;
        height: 89px;
    }
    .absolute {
        width: 155px;
        bottom: 97px;
    }
    .carousel__dots {
        left: 2px;
        bottom: 41px;
    }
    .panda__info {
        position: absolute;
        top: 716px;
        margin-top: 0px;
        left: 122px;
        width: 502px;  
    }
    .panda__info p {
        margin-bottom: 11px;
    }
    .button__feed {
        top: 17px;
        right: 0px;
    }
    .active__item::before {
        width: 90px;
        height: 90px;
        left: -10px;
    }
    .active__item img {
        width: 76px;
        height: 76px;
        bottom: 4px;
        left: 0px;
    }
    /* footer */
    footer {
        width: 640px;
        height: 1068px; 
    }
    .footer-container {
        width: 640px;
        height: 1068px;
    }
    .footer-container__allin {
        width: 640px;
        height: 973px;
        padding-top: 95px;
        overflow: hidden;
    }
    .footer-container1 {
        width: 640px;
        height: 973px;
        flex-direction: column;
    }
    .footer-container1__left {
        width: 597px;
        left: 0px;
    }
    .section-footer {
        width: 100px;
        margin: 0 0;
    }
    .section-footer__us {
        padding-top: 126px;
    }
    .footer_contact__textArea {
        width: 110%;
    }
    .footer_section__checkBox {
        left: 102px;
    }
    .footer-section_btn {
        left: 12px;
        margin-top: 23px;
    }
    .section-footer__nav {
        flex-direction: column;
        bottom: 411px;
        gap: 6px;
        left: -1px;
        align-items: stretch;
        justify-content: flex-start
    }
    .footer-container1__right {
        width: 466px;
    }
    .section-footer__nav_a {
        margin: 0 0;
    }
    .footer_zoo__online {
        margin-bottom: 45px;
        bottom: 7px;
    }
    .section-footer__btn {
        left: 227px;
        top: -520px;
    }
    .footer-container2 {
        position: relative;
        width: 599px;
        bottom: 130px;
    }
    .noora {
        padding-top: 27px;
    }
}