@media (max-width: 1200px) {
    .headet__main {
        width: 1200px;
    }
    .section-header__zoo a {
        font-size: 29px;
    }
    .section-navigation {
        left: 275px;
        top: 40px;
    }
    .baarger {
        left: 1085px;
    }
    .section_theme {
        left: 1000px;
    }
    .watch-animal {
        width: 1200px;
    }
    .watch-animal__text {
        left: 150px;
        top: 130px;
    }
    .watch-animal__button {
        left: 150px;
        top: 370px;
    }
    .watch-animal__social {
        top: 740px;
    }
    .line__circle1 {
        right: 379px;
        bottom: 22px;
    }
    .line__circle3 {
        right: -117px;
        bottom: 51px;
    }
    .slider1-item_eagle {
        width: 180px;
        height: 261px;
        border-radius: 5px;
    }
    .slider1-item_panda {
        width: 180px;
        height: 261px;
        border-radius: 5px;
    }
    .slider1-item_gibon {
        width: 180px;
        height: 261px;
        border-radius: 5px;
    }
    .slider1-item_croc {
        width: 180px;
        height: 261px;
        border-radius: 5px;
    }
    .slider1-item_fox {
        width: 180px;
        height: 261px;
        border-radius: 5px;
    }
    .watch-animal__container {
        width: 1200px;
        height: 926px;
    }
    .slider1 {
        left: 460px;
        top: 430px;
        gap: 30px;
    }
    .slider1__idiot {
        position: relative;
        left: 367px;
        display: flex;
        width: 2500px;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin: 0 0;
    }
    .slider1__input {
        top: 840px;
        left: 680px;
    }
    .line {
        left: 376px;
        top: 617px;
    }
    .how-works {
        width: 1200px;
    }
    .how-works__container1_header {
        width: 746px;
    }
    .how-works__container1_text {
        width: 746px;
    }
    .how-works__slider {
        width: 746px;
    }
    .how-works__slider_item {
        width: 746px;
        grid-template-columns: 746px 746px 746px 746px;
        gap: 7px;
    }
    .how-works__slider_item1 {
        width: 746px;
    }
    .how-works__slider_inside::-webkit-slider-thumb {
        width: 80px;
    }
    .how-works__button {
        position: relative;
        margin: 0 0;
        left: 480px;
        top: 30px;
    }
    .how-works__allin1 {
        width: 1200px;
    }
    .how-works__allin2 {
        width: 1200px;
    }
    .how-works__inspire {
        left: 92px;
        top: 10px;
    }
    .how-works__inspire .how-works__inspire_text {
        width: 287px;
        height: 64px;
    }
    .how-works__mission .how-works__inspire_text {
        width: 286px;
    }
    .how-works__mission {
        top: 25px;
    }
    .how-works__believe {
        right: 94px;
        top: 29px;
    }
    .how-works__believe .how-works__inspire_text {
        width: 287px;
    }
    .zoo-pets {
        width: 1200px;
        height: 752px;
    }
    .zoo-pets__allin {
        width: 1200px;
    }
    .inside_slide_block_text {
        right: 30px;
    }
    .first_donate_btn {
        right: 35px;
    }
    .zoo-pets__slider {
        width: 900px;
        height: 301px;
        grid-template-columns: 210px 210px 210px 210px;
        gap: 20px;
    }
    .idiot-class {
        width: 1820px;
        height: 301px;
        grid-template-columns: 210px 210px 210px 210px 210px 210px 210px 210px;
        gap: 20px;
        padding-top: 0px;
    }
    .for_all_img {
        width: 210px;
        height: 301px;
        border-radius: 5px;
    }
    .zoo-pets__slider-button1 {
        position: absolute;
        top: 2645px;
        right: 1066px;
    }
    .zoo-pets__slider-button2 {
        position: absolute;
        top: 2643px;
        left: 1076px;
    }
    .zoo-pets__input {
        top: 17px;
    }
    .zoo-pets__number1 {
        left: 100px;
    }
    .zoo-pets__number2 {
        left: 137px;
    }
    .zoo-pets__choose-container {
        padding-top: 57px;
        border-radius: 5px;
    }
    .pay-section {
        width: 1200px;
        height: 702px;
    }
    .pay-section__images {
        padding-top: 49px;
    }
    .pay-section__images-circle {

    }
    .pay-section__images-arrow {
        width: 0px;
        transform: scale(0.55);
    }
    .pay-section__images-arrow1 {
        position: relative;
        top: 5px;
        left: 20px;
    }
    .pay-section__images-arrow2 {
        position: relative;
        top: 5px;
        right: 82px;
    }
    .pay-section__images-circle1 {
        position: relative;
        left: 104px;
    }
    .pay-section__images-circle2 {
        position: relative;
    }
    .pay-section__images-circle3 {
        position: relative;
        right: 105px;
    }
    .pay-feed_1 {
        position: relative;
        top: 18px;
    }
    .pay-feed_2 {
        position: relative;
        top: 18px;
    }
    .pay-feed_3 {
        position: relative;
        top: 18px;
    }
    .pay-feed_text {
        bottom: 6px;
    }
    .pay-section__button {
        margin-top: 52px;
    }
    .pay-section__allin {
        width: 1200px;
    }
    .testimonials-section {
        width: 1200px;
    }
    .testimonials-section__slider {
        width: 960px;
        padding-top: 62px;
        gap: 0px;
    }
    .super-idiot {
        width: 960px;
    }
    .who_are-you {
        bottom: 46px;
        left: 10px;
    }
    .who_are-you_header1 {
        left: 10px;
    }
    .who_are-you_header2 {
        right: 10px;
    }
    .who_are-you_header {
        bottom: 30px;
    }
    .who_are-you_user {
        bottom: 46px;
        right: 10px;
    }
    .who_are-you_text {
        width: 326px;
    }
    .testimonials-section__slider-button1 {
        position: absolute;
        top: 4127px;
        right: 1063px;
    }
    .testimonials-section__slider-button2 {
        position: absolute;
        top: 4127px;
        left: 1075px;
    }
    .testimonials-section__allin {
        width: 1200px;
    }
    .testimonials-section__slider-item1 {
        width: 450px;
    }
    .testimonials-section__slider-item2 {
        width: 450px;
    }
    .testimonials-section__slider-input {
        position: inherit;
    }
    .testimonials-section__number1 {
        left: 95px;
    }
    .testimonials-section__number2 {
        left: 133px;
    }
    .testimonials-section__slider-input_range {
        right: 0px;
    }
    .testimonials-section__feedback {
        position: relative;
        top: 40px;
    }
    .section-map {
        width: 1200px;
        height: 842px;
    }
    .section-map__allin {
        width: 1200px;
    }
    .section-map__planet {
        width: 899px;
        height: 435px;
        background-image: url(../img/smallMap.png);
        margin-top: 59px;
        position: relative;
    }
    .section-map__planet_img1 {
        right: 336px;
        top: 56px;
    }
    .section-map__planet_img2 {
        right: 245px;
        bottom: 23px;
    }
    .section-map__planet_img3 {
        bottom: 25px;
    }
    .section-map__planet_img4 {
        position: absolute;
        bottom: 276px;
        left: 655px;
    }
    .card__map1 {
        position: absolute;
        left: 1px;
        top: 149px;
    }
    .card__map2 {
        position: absolute;
        right: 274px;
        bottom: 374px;
    }
    .card__map3 {
        position: absolute;
        top: 247px;
        left: 222px;
    }
    .card__map4 {
        position: absolute;
        top: 162px;
        left: 539px;
    }
    .section-map__button {
        margin-top: 38px;
    }
    footer {
        width: 1200px;
    }
    .footer-container1 {
        width: 1200px;
        gap: 0px;
    }
    .footer-container {
        width: 1200px;
    }
    .footer-container1__left {
        width: 450px;
        position: relative;
        left: 75px;
    }
    .footer-container1__right {
        width: 450px;
    }
    .section-footer__zoo {
        position: relative;
        bottom: 6px;
    }
    .section-footer__online {
        position: relative;
        bottom: 8px;
    }
    .section-footer__zoo a {
        font-size: 28px;
    }
    .section-footer__online a {
        letter-spacing: 1.5px;
    }
    .footer-container__allin {
        width: 1200px;
    }
    .section-footer__input1 {
        position: relative;
        bottom: 4px;
    }
    .section-footer__input2 {
        position: relative;
        bottom: 10px;
    }
    .footer_contact__textArea {
        position: relative;
        left: 0px;
        width: 146%;
    }
    .footer_section__checkBox {
        position: relative;
        left: 175px;
        bottom: -5px;
    }
    .footer-section_btn {
        position: relative;
        left: 85px;
        margin-top:22px
    }
    .section-footer__whole {
        position: relative;
        right: 65px;
    }
    .section-footer__btn {
        left: -87px;
        top: 302px;
        border-radius: 5px;
    }
    .footer_zoo__online {
        position: relative;
        bottom: 17px;
        left: -65px;
    }
    .footer_zoo__adress {
        position: relative;
        bottom: 17px;
        left: -65px;
    }
    .footer_zoo__open {
        position: relative;
        bottom: 12px;
        left: -65px;
    }
    .footer_zoo__cellphone {
        position: relative;
        bottom: 12px;
        left: -67px;
    }
    .footer_zoo__email {
        position: relative;
        bottom: 12px;
        left: -67px;
    }
    .footer__social {
        right: 76px;
        margin-top: 9px;
        grid-template-columns: 40px 30px 40px 40px;
    }
    .footer-container2 {
        width: 900px;
    }
    .noora {
        padding-top: 31px;
    }
    .active-panda_or__not {
        width: 245px;
        height: 352px;
    }
    .display_active {
        display: initial;
    }
}