@media (max-width: 1200px) {
    .headet__main {
        width: 1200px;
    }
    .headet__main__allin {
        width: 1200px;
    }
    .section-header__zoo a {
        font-size: 27px;
        top: 4px;
    }
    .section-navigation {
        left: 275px;
        top: 40px;
    }
    .baarger {
        left: 1085px;
    }
    .section_theme {
        left: 1000px;
    }
    footer {
        width: 1200px;
    }
    .footer-container1 {
        width: 1200px;
        gap: 0px;
    }
    .footer-container {
        width: 1200px;
    }
    .footer-container1__left {
        width: 450px;
        position: relative;
        left: 75px;
    }
    .footer-container1__right {
        width: 450px;
    }
    .section-footer__zoo {
        position: relative;
        bottom: 6px;
    }
    .section-footer__online {
        position: relative;
        bottom: 8px;
    }
    .section-footer__zoo a {
        font-size: 28px;
    }
    .section-footer__online a {
        letter-spacing: 1.5px;
    }
    .footer-container__allin {
        width: 1200px;
        margin-left: 0px;
    }
    .section-footer__input1 {
        position: relative;
        bottom: 4px;
    }
    .section-footer__input2 {
        position: relative;
        bottom: 10px;
    }
    .footer_contact__textArea {
        position: relative;
        left: 0px;
        width: 146%;
    }
    .footer_section__checkBox {
        position: relative;
        left: 175px;
        bottom: -5px;
    }
    .footer-section_btn {
        position: relative;
        left: 85px;
        margin-top:22px
    }
    .section-footer__whole {
        position: relative;
        right: 65px;
    }
    .section-footer__btn {
        left: -87px;
        top: 302px;
        border-radius: 5px;
    }
    .footer_zoo__online {
        position: relative;
        bottom: 17px;
        left: -65px;
    }
    .footer_zoo__adress {
        position: relative;
        bottom: 17px;
        left: -65px;
    }
    .footer_zoo__open {
        position: relative;
        bottom: 12px;
        left: -65px;
    }
    .footer_zoo__cellphone {
        position: relative;
        bottom: 12px;
        left: -67px;
    }
    .footer_zoo__email {
        position: relative;
        bottom: 12px;
        left: -67px;
    }
    .footer__social {
        right: 76px;
        margin-top: 9px;
        grid-template-columns: 40px 30px 40px 40px;
    }
    .footer-container2 {
        width: 900px;
    }
    .noora {
        padding-top: 31px;
    }

    /* map */
    .map__section_scroll {
        width: 1200px;
        position: relative;
    }
    .map__section_scroll__allin {
        width: 1200px;
        height: 1110px;
    }
    .map__section-location {
        background-image: url(../img/smallMap.png);
        background-repeat: no-repeat;
        background-position: cover;
        background-size: 100%;
        width: 800px;
        height: 388px;
        margin-top: 0;
        position: relative;
        top: 28px;

    }
    .map__section-carousel {
        width: 700px;
        overflow: hidden;
    }
    .scroll__carousel {
        position: relative;
        bottom: 14px;
        left: 39px;
        gap: 22px;
    }
    .arrw_slid1 {
        position: absolute;
        right: 965px;
        bottom: 767px;
    }
    .arrw_slid2 {
        position: absolute;
        left: 974px;
        bottom: 764px;
    }
    .carousel__input {
        bottom: 0px;
    }
    .icon1 {
        right: 299px;
        top: 42px;
    }
    .icon2 {
        right: 218px;
        top: -37px;
    }
    .icon3 {
        right: 0px;
        top: -50px;
    }
    .icon4 {
        left: 209px;
        bottom: 217px;
    }
    .watch_ntm {
        margin-top: 63px;
    }
    .watch_ntm-circle {
        left: 11px;
        top: 10px;
    }
    .map__section-header {
        font-size: 45px;
    }
}